#gameRoot {
    height: 700px;
    width: 700px;
    margin: 50px auto 0 auto;
    position: relative;
}

.row {
    position: absolute;
}

.cell {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: solid 1px black;
    position: absolute;
    top: 0
}

.cell.on {
    background-color: blue;
}
